/*--------------------------------------------------*/
/*UNIVERSAL TAGS*/
html{
 font-size:16px;
font-family: 'Open Sans', sans-serif;
}
/*FONTS---------------------------------------------
font-family: 'Open Sans', sans-serif;
font-family: 'Lora', serif;

-----------------------------------------------------*/
/*COMMON USE TAGES-------------------------------------
border: px solid  ;
------------------------------------------------------*/
body{

}
/*--------------------------------------------------*/
/*HEADER TAGS*/
header{
  display: block;
}
.logo{
  padding-left: 1.5rem;
  border: 3px solid  blue;
  margin:0;
}
.logo img{
  width:3rem;
}

#upper-bigbox .head{
  display:inline-flex;
  align-items:center;
  text-align:justify;
  height:4rem;
  width:100%;
  font-family: 'Open Sans', sans-serif;
  font-size:1.5rem;

}

.logowords{
  display:inline-flex;
  justify-content: space-around;
}
.title2 h3{
  color: #A09898;
}
.title1 h3{
  color: #625D5D;
}
.logowords ul{
  text-align: right;
}
ul{
  justify-content: space-around;

}
li{

  justify-content: space-around;
  padding:.5rem;
}
nav ul{
  list-style-type: none;
  display:inline-flex;

  text-align:center;
}
header nav {
  text-align: right;
  flex-grow: 1;
}

nav li{
  justify-content: space-around;
  align-items: center;
 padding:

}

/*--------------------------------------------------*/
/*FIRST BOX*/

 .learn .image{
  width: 60%;
  height:auto;

 margin-left:1.5rem;
 margin-top:2rem;
 margin-bottom:2rem;
border:3px solid limegreen;
  /*padding is vertical, horizontal*/


}
h1{
  font-size:4rem;
  font-weight: bold;
  align-items:center;
font-family: 'Open Sans', sans-serif;
}
.learn{
  width:100%;
  height:auto;
  background-color:#B1A9A9;
  border:3px solid skyblue;
  display: inline-flex;
  align-items: center;
}
.box{
  display:block;
}
.text{
  border:3px solid orange;
  text-align:left;
  padding-left:1.5rem;
  width:31rem;
height: auto;
}
.start {
 font-size:1.5rem;
 font-weight: lighter;
font-family: 'Lora', serif;
  color:white;
  margin:0;
  background-color:#373737;
align-items: center;
  text-align: center;
border:3px solid darkblue;
}
h1{
  color:#373737;
  font-family: 'Open Sans', sans-serif;
  word-wrap:normal;
}
.text .quote{
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  border: 2px solid purple ;
}
.words{
  width: 65%;
  height: auto;
}
/*--------------------------------------------------*/
/*SECOND BOX*/
.box2{
  width:100%;
  height:auto;
  border:3px solid red;
  display: inline-flex;
  align-items: center;
  text-align: left;
  padding-left:32px;
}
.dude img{
  width:80%;
  height:auto;
  padding:0;
  border: 4px solid purple;

}

p{
  font-size: 1rem;
font-family: 'Open Sans', sans-serif;
}
.dudebox{
  width: 15rem;
  height:auto;
}

/*.box2 img{
  display:inline-flex;
  width:35%;
  height:auto;
  border: 3px solid yellow;
}*/
.dude{
  display:grid;
}
.secondpic{
  width:100%;
  height:auto;
margin-left:1.5rem;
margin-right:1.5rem;
margin-top:2rem;
margin-bottom:2rem;
}
.orientation{
display:inline-flex;
align-items:center;


  border: 3px solid magenta;
}
.orientation img{
  display:inline-flex;
  width:35%;
  height:auto;
  margin:1rem;
}

.campus{
  align-items:center;
  display:inline-flex;
  border: 3px solid blue;
}
.campus img{
  display:inline-flex;
  width:35%;
  margin:1rem;

  height:auto;
}
.guest{
  align-items:center;
  display:inline-flex;
  border: 3px solid pink;
background-color:#B1A9A9;

}
.guest img{
  display:inline-flex;
  width:35%;
  height:auto;
  margin:1rem;

}


.info{
  display:inline-block;
  width:40%;
  border: 3px solid green;
}
/*--------------------------------------------------*/
/*THIRD BOX*/
.pictures section{
  text-align:center;
  font-size:5rem;
  margin-top: 2rem;
  padding:0;
  font-family: 'Open Sans', sans-serif;
color:#373737;

}
.pictures {
  display: block;
  height:auto;
  margin-bottom: 50px;
  font-weight: bold;

    background-color:#B1A9A9;
}
/*.pictures span{
  font-size:2rem;
  font-weight:bold;
    font-family: 'Open Sans', sans-serif;
}*/

.line1 {
  display:flex;

width:12.5rem
}
.line2 {
  display: inline-flex;

width:12.5rem;
}
.images{
text-align:left;
   margin:2rem;
   background-color:white;


}
.words3 hgroup{
  font-size:2rem;
  font-family: 'Open Sans', sans-serif;
  padding-top:1rem;
  padding-bottom:1rem;
}
.words3{
  margin-left:2rem;


  padding:.5rem;
}
.pictures p{
  font-size:1.5rem;
  font-weight:lighter;
  font-family: 'Open Sans', sans-serif;
  word-wrap:normal;
}
.images span{
  font-size:1.5rem;
  font-weight:lighter;
  font-family: 'Open Sans', sans-serif;
}/*
.line1 .images{
  border: 5px solid skyblue;
  background-color:white;
}
/*
.line1 .images{
  width:19rem;
  height:12.5rem;
}
.line2 .images{
  width:19rem;
  height:12.5rem;
}
/*--------------------------------------------------*/
/*FOURTH BOX*/
.box4{
  display:inline-flex;
}
.imagebox5{
  align-items:center;
  display:inline-flex;
  border: 3px solid pink;
background-color:#B1A9A9;
}
.imagebox5 img{
  display:inline-flex;
  width:35%;
  height:auto;
  margin:1rem;

}
.imagebox4{
  align-items:center;
  display:inline-flex;

}
.imagebox4 img{
  display:inline-flex;
  width:35%;
  height:auto;
  margin:1rem;

}
/*--------------------------------------------------*/
/*FOOTER*/
footer{

}
